.single-product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-right: 5px;
    padding: 10px 0;
}
.single-product img {
    margin-right: 10px;
}
.single-product h2 {
    font-weight: 500;
    color: blue;
}
.purchase-btn {
    border:1px solid gray;
    background-color: goldenrod;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-top:10px;
}
.icon-style {
    color:gold;
}
.icon {
    font-size: 10px;
}